body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.chatbox-toggle {
  position: fixed;
  bottom: 100px;
  right: 200px;

  background-color: #007bff;
  color: #fff;
  padding: 30px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.chatbox-container {
  position: fixed;
  bottom: 100px;
  right: 200px;
  width: 500px;
  height: 500px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: none; /* Hidden by default */
  flex-direction: column;
  z-index: 1000;
  
}

.chatbox-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatbox-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.chatbox-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.chatbox-input {
  display: flex;
  height: 50px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 50px;
}

.chatbox-input input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.chatbox-input button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.chatbox-input button:hover {
  background-color: #0056b3;
}

.message {
  margin-bottom: 10px;
}

.message.bot {
  text-align: left;
  color: #333;
}

.message.user {
  text-align: right;
  color: #007bff;
}
